.dart_tool/
.idea/
.flutter-plugins-dependencies
.metadata
.packages
build/
install/
log/
**/__pycache__/
android/local.properties
android/.gradle/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
*.iml
